{#
/**
 * @file
 * Default microdata theme implementation for a geolocation with latitude, longitude.
 *
 * Available variables:
 * - lat: The latitude value.
 * - lng: The longitude value.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  <div itemscope itemtype="http://schema.org/GeoCoordinates">
    <meta itemprop="latitude" content="{{ lat }}">{{ lat }}
    ,&nbsp;
    <meta itemprop="longitude" content="{{ lng }}">{{ lng }}
  </div>
{% endspaceless %}
